body{
    background-color: lightsalmon;
}
h1{
    color: #f8f7f7;
    text-align: center;
    background-color: #100101;
    line-height: 100px;
    text-shadow: 12px 4px 12px yellow;
    font-size: 80px;
}
h1:hover{
    background-color: midnightblue;
}

ul {
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #100101;
}
li{
    float: left;
}
li a {
    display: block;
    color: orangered;
    padding: 8px;
    text-decoration: none;
}
ul:hover{
    background-color: #f8f7f7;
}